/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&family=Poppins:wght@400;600;700&display=swap');

body{
    font-family: 'Hind Siliguri', sans-serif;
}

#name{
    background-color: rgba(2, 2, 2, 0.8);
}

.caro-img{
    height: 80vh;
}

#logo{
    border-radius: 50px;
}
.carousel-caption{
    background-color: rgb(15, 15, 15,0.5);
    padding: 10px;
    border-radius: 10px;
}

#marquee-text{
    background-color: rgb(65, 141, 65);
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-weight: 800;
}


#info h3{
    background-color: rgb(51, 122, 51);
   font-family: 'Poppins', sans-serif;
   font-weight: 800;
   color: white;
   padding: 10px;
   border-left: 5px solid red;
}

#info p{
    border: 2px solid gray;
    padding: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: center;
}
#full-info h3{
    background-color: rgb(51, 122, 51);
   font-weight: 800;
   color: white;
   padding: 10px;
   border-left: 5px solid red;
}

#full-info p{
    border: 2px solid gray;
    padding: 50px;
    font-weight: 800;
    text-align: center;
}

#small-title{
    border-left: 2px solid rgb(236, 55, 55);
    border-right: 2px solid rgb(236, 55, 55);
    border-radius: 10px;
    display: none;
}
#large-title{
    border-left: 50px solid rgb(236, 55, 55);
    border-right: 50px solid rgb(236, 55, 55);
    border-radius: 50px;
    display: none;
}

@media(max-width:576px) {
    #small-title{
        display: block;
    }
}

@media(min-width:576px) {
    #large-title{
        display: block;
    }
}

#corona-btn{
    text-decoration: none;
}

#notice a{
    text-decoration: none;
}
#notice button{
    float: right;
}

#notice{
    border: 2px solid gray;
    padding: 10px;
}